div.in{
    /* margin: auto;
    width: max-content;
    vertical-align: middle; */
    display: flex;
    justify-content: center;
    
}
.buttons{
    border: 250px solid white;

}
#reg{
    margin-left: 10px;
}

#log{
    /* display: block; */
    justify-content: center;
    position: relative;
    vertical-align: middle;
    border-left: 100px;
    border-color: white;
}