div.in{
    /* margin: auto;
    width: max-content;
    vertical-align: middle; */
    display: flex;
    justify-content: center;
    
}
.button{
    margin: 50px;
}

form{
    /* display: block; */
    justify-content: center;
    position: relative;
    vertical-align: middle;
}